#intro {
    height: 800px;
    padding-top: 200px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    .animate-intro {
      opacity: 0;
      @include transition(opacity 0.6s)
    }
    .animate-outro {
      opacity: 1;
      @include transition(opacity 1.5s)
    }

    #intro-title {
      width: 30%;
      text-align: left;
      float: left;
      position: absolute;
      top: 130px;
      left: 3%;
      font-family: $font-primary;
      font-size: 40px;
      font-style: italic;
      font-weight: 100;
      line-height: 50px;
    }

    #intro-square {
        height: 500px;
        width: 500px;
        background-color: transparent;
        border: 1px solid black;
        position: absolute;
        box-shadow: 0px 0px 0px 800px rgba(255,255,255,1);
        top: 50%; left: 50%;
        z-index: -1;
        transform: translate(-50%,-55%) rotate(45deg);
    }
    .intro-text {
      width: 40%;
      text-align: right;
      float: right;
      position: absolute;
      bottom: 150px;
      right: 0;
      font-family: $font-primary;
      font-size: 30px;
      line-height: 35px;
      font-style: italic;
      font-weight: 100;
    }
    .intro-grid-wrapper {
      height: 750px;
      width: 750px;
      border: 2px solid black;
      top: 50%; left: 50%;
      z-index: -2;
      transform: translate(-50%,-55%);
      position: absolute;
      
      #intro-grid-a-1 {
        width: 100%;
        height: 80px;
        border-bottom: 7px solid black;
      }
      #intro-grid-a-2 {
        width: 100%;
        height: 280px;
        border-bottom: 7px solid black;
        #grid-a-2-1 {
          display: block;
          float: left;
          overflow: hidden;
          border-right: 4px solid black;
          background-color: $yellow;
          height: 280px;
          width: 38%;
        }
        #grid-a-2-2 {
          display: inline-block;
          border-right: 7px solid black;
          background-color: $off-white;
          height: 280px;
          width: 35%;
        }
      }
      #intro-grid-a-3 {
        width: 100%;
        height: 230px;
        border-bottom: 7px solid black;
        #grid-a-3-1 {
          display: block;
          float: left;
          overflow: hidden;
          height: 230px;
          width: 22%;
        }
        #grid-a-3-2 {
          display: block;
          float: left;
          overflow: hidden;
          border-right: 5px solid black;
          box-shadow: -5px 0px 0px 0px rgba(0,0,0,1);
          height: 230px;
          width: 16%;
          #grid-a-3-2-1 {
            width: 100%;
            height: 120px;
            background-color: black;
          }
          #grid-a-3-2-2 {
            width: 100%;
            height: 110px;
            background-color: $off-white;
          }
        }
        #grid-a-3-3 {
          display: block;
          float: left;
          overflow: hidden;
          height: 230px;
          width: 35%;
          border-right: 7px solid black;
        }
        #grid-a-3-4 {
          display: inline-block;
          width: 25%;
          height: 230px;
          background-color: $blue;
        }
      }
      #intro-grid-a-4 {
        width: 100%;
        height: 160px;
        #grid-a-4-1 {
          width: 38%;
          height: 150px;
          background-color: $red;
          border-right: 5px solid black;

        }
      }


      #intro-grid-b-1 {
        width: 100%;
        height: 210px;
        border-bottom: 20px solid black;
          background-color: $off-white;
        #grid-b-1-1{
          display: inline-block;
          border-right: 20px solid black;
          /*@include box-shadow(inset -10px 0px 0px 0px black);*/
          width: 27.5%;
          height: 100%;
        }
        #grid-b-1-2{
          display: inline-block;
          width: 60%;
          height: 100%;
          background-color: $off-white;
        }
      }
      #intro-grid-b-2 {
        width: 100%;
        height: 385px;
        border-bottom: 25px solid black;
          background-color: $off-white;
        #grid-b-2-1 {
          display: inline-block;
          border-right: 20px solid black;
          /*@include box-shadow(inset -10px 0px 0px 0px black);*/
          background-color: $off-white;
          height: 100%;
          width: 27.5%;
        }
        #grid-b-2-2 {
          display: inline-block;
          border-right: 30px solid black;
          /*@include box-shadow(inset -15px 0px 0px 0px black);*/
          height: 100%;
          width: 46.5%;
          background-color: $off-white;
        }
      }
      #intro-grid-b-3 {
        width: 100%;
        height: 100px;
        background-color: $off-white;
      }


      #intro-grid-c-1 {
        width: 100%;
        height: 200px;
        border-bottom: 15px solid black;
        #grid-c-1-1{
          display: block;
          float: left;
          overflow: hidden;
          height: 100%;
          width:69%;
          background-color: $red;
          border-right: 10px solid black;
        }
        #grid-c-1-2{
          display: inline-block;
          height: 100%;
          width:20%;
          background-color: $red;
        }
      }
      #intro-grid-c-2 {
        width: 100%;
        height: 345px;
        border-bottom: 13px solid black;
        #grid-c-2-1{
          display: block;
          float: left;
          overflow: hidden;
          height: 100%;
          width:26%;
          background-color: $blue;
          @include box-shadow(inset -10px 0px 0px 0px black);
        }
        #grid-c-2-2{
          display: block;
          float: left;
          overflow: hidden;
          height: 100%;
          width:43%;
          border-right: 10px solid black;
        }
        #grid-c-2-3{
          display: block;
          float: left;
          overflow: hidden;
          height: 100%;
          width:16%;
          border-right: 15px solid black;
        }


      }
      #intro-grid-c-3 {
        width: 100%;
        height: 110px;
        border-bottom: 13px solid black;
        margin-top: -3px;
        #grid-c-3-1{
          display: block;
          float: left;
          overflow: hidden;
          height: 100%;
          width:69%;
          border-right: 10px solid black;
        }
        #grid-c-3-2{
          display: inline-block;
          height: 100%;
          width:20%;
          background-color: $blue;
        }
      }
      #intro-grid-c-4 {
        width: 100%;
        height: 50px;
        background-color: $yellow;
      }


      #intro-grid-d-1 {
        width: 100%;
        height: 520px;
        border-bottom: 15px solid black;
        #grid-d-1-1{
          display: inline-block;
          border-right: 15px solid black;
          /*@include box-shadow(inset -10px 0px 0px 0px black);*/
          width: 27.5%;
          height: 100%;
        }
        #grid-d-1-2{
          display: inline-block;
          width: 60%;
          height: 100%;
        }
      }
      #intro-grid-d-2 {
        width: 100%;
        height: 200px;
        #grid-d-2-1 {
          display: inline-block;
          border-right: 15px solid black;
          background-color: $blue;
          height: 100%;
          width: 27.5%;
        }
        #grid-d-2-2 {
          display: inline-block;
          height: 100%;
          width: 60%;
        }
      }
     

    }
}