#multi-column{
    height: 300px;
    /*background-color: $yellow;*/
    width: 100%;
    border-top: 3px solid black;
    border-bottom: 7px solid black;

    .column-margins {
      display: block;
      overflow: hidden;
      float: left;
      width: 7.5%;
      height: 300px;
    }

    #column-margin-left {
      @include box-shadow(inset -7px 0px 0px 0px black);
      #column-margin-black {
        width: 100%;
        height: 150px;
        background-color: black;
      }
    }

    #column-margin-right {
      #column-margin-white {
        width: 100%;
        height: 250px;
        background-color: white;
      }
      #column-margin-red {
        border-top: 3px solid black;
        width: 100%;
        height: 50px;
        background-color: $red;
      }
    }

    #columns-wrapper{
      display: block;
      overflow: hidden;
      float: left;
      width:85%;
      height: 300px;
      /*margin: 0 auto;*/
    }
    
    .columns{
      width: 33.33%;
      height: 300px;
      display: block;
      overflow: hidden;
      float: left;
      color: black;
      text-align: center;

      /*@include transition(background-color 0.5s, color 0.5s);*/
      &:first-child {
        @include box-shadow(inset -7px 0px 0px 0px black);
        /*border-left: 5px solid black;*/
      }
      &:nth-child(2) {
        @include box-shadow(inset -3px 0px 0px 0px black);
        /*border-left: 5px solid black;*/
      }
      &:last-child {
        @include box-shadow(inset -7px 0px 0px 0px black);
        /*border-left: 5px solid black;*/
      }
      .column-content {
        position: relative;
        @include vertical-center(0%);
      }
      .columns-title{
        opacity: 1;
        margin-left: 40px;
        margin-right: 40px;
        /*margin-top: 40px;*/
        font-family: $font-primary;
        /*text-decoration: underline;*/
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        @include transition(opacity, 0.3s);
      }
      .columns-description{
        margin-right: 40px;
        margin-left: 40px;
        margin-top: 30px;
        font-family: $font-secondary;
        font-weight: 100;
        font-size: 16px;
        line-height: 25px;
        @include transition(opacity, 0.3s);
      }
    }
    #column-left {
        background-color: $yellow;
      }
      #column-middle {
        background-color: $off-white;
      }
      #column-right {
        background-color: $blue;
        color: $off-white;
      }
    
}