$orange         : #BD3613;
$blue           : #003366;
$gray           : #DDDDDD;
$off-white      : #fefbf7;
$red            : #990000;
$yellow         : #FCE901;

$font-primary: 'Josefin Slab', serif;
$font-secondary: 'Maven Pro', sans-serif;
