#video{
    #video-wrapper {
      width: 100%;
      background-color: $off-white;
      border-bottom: 15px solid black;
      position: relative;
      #video-description {
        width: 27.5%;
        display: flex;
        align-items: center; /* align vertical */
        position: absolute;
        height: 100%;
        margin-left: 10%;
        padding-right: 5%;
        font-family: $font-primary;
        font-size: 38px;
        font-style: italic;
        font-weight: 100;
        text-align: right;

        @include box-shadow(inset -10px 0px 0px 0px black);


      }
      #video-content {
        min-height: 500px;
        display: inline-block;
        width: 50%;
        background-color: black;
        margin-left: 42.5%;
        @include box-shadow(inset -0px 0px 0px 0px black);
        video {
          width: 98.7%;
          margin-bottom: -3px;
        }
      }
    }
}